@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.avatar {
    border: 2px solid white;
    border-radius: 50%;
}

.mr-5 {
    margin-right: 5px;
}

.black {
    background-color: black !important;
}

.tapewinder-form {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.no-text-decoration {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
}

.progress-override {
    background-color: #181818;
}

.form {
    margin-top: 15%;
    padding-top: 15px;
    padding-bottom: 15%;
}
  
.page-enter {
    transform: translateX(100%);
}
  
.page-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}
  
.page-exit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
}
  
.page-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

body {
    color-scheme: dark;
    font-family: 'Lato', sans-serif;
    background-color: #1c1c1c !important;
}